<div class="company-info">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-8 offset-1">
                <div class="company-info-main-txt">
                    TLS, d.o.o.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-1">
                <div class="row">
                    <div class="col-12">
                        <div class="company-info-secondary-txt company-info-txt-padding-top">
                            Sp. Rečica 6
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="company-info-secondary-txt">
                            3270 Laško
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-1 col-lg-4">
                <div class="row company-info-txt-padding-top">
                    <div class="col-3 company-info-secondary-txt">Telefon:</div>
                    <div class="col-8 company-info-secondary-txt">+386 3 734 33 26</div>
                </div>
                <div class="row">
                    <div class="col-3 company-info-secondary-txt">Mobitel:</div>
                    <div class="col-8 company-info-secondary-txt">+386 31 304 000</div>
                </div>
                <div class="row company-info-txt-padding-top">
                    <div class="col-3 company-info-secondary-txt">Email:</div>
                    <div class="col-9 company-info-secondary-txt">transport@tls-lasko.si</div>
                </div>
            </div>
        </div>
    </div>
</div>