<footer class="footer">
    <div class="container-fluid p-0">
        <div class="row footer-main">
            <div class="col-3 offset-1 col-lg-4 offset-lg-1">
                <img src="../assets/img/logo.png" alt="logo-img" class="footer-logo" />
            </div>
            <div class="col-6 col-lg-3 offset-lg-0">
                <div class="row">
                    <div class="col-lg">TLS, d.o.o.</div>
                </div>
                <div class="row">
                    <div class="col-lg">Sp. Rečica 6</div>
                </div>
                <div class="row">
                    <div class="col-lg">3270 Laško</div>
                </div>
            </div>
            <div class="col-7 offset-4 col-lg-3 offset-lg-0">
                <div class="row footer-txt-padding-top">
                    <div class="col-3">Telefon:</div>
                    <div class="col-8">+386 3 734 33 26</div>
                </div>
                <div class="row">
                    <div class="col-3">Mobitel:</div>
                    <div class="col-8">+386 31 304 000</div>
                </div>
                <div class="row footer-txt-padding-top footer-email-txt">
                    <div class="col-3">Email:</div>
                    <div class="col-8">transport@tls-lasko.si</div>
                </div>
            </div>
        </div>
        <div class="row footer-secondary">
            <div class="col-7 offset-4 col-lg-4 offset-lg-1 footer-txt-padding-top">
                Dizajn in izvedba Medias Kreativ, programiranje TriTim
            </div>
            <div class="col-8 offset-4 col-lg-3 offset-lg-0 footer-txt-padding-top">Sofinanciranje</div>
            <div class="col-8 offset-4 col-lg-3 offset-lg-0">
                <div class="row">
                    <div class="col-lg-4 footer-txt-padding-top"><a class="footer-pogoji-poslovanja" href="../pogoji-poslovanja.doc" download>Pogoji poslovanja</a></div>
                    <div class="col-lg-8 footer-txt-padding-top">Piškotki</div>
                </div>
            </div>
        </div>
    </div>
</footer>