<div class="kdo-smo">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <img src="../assets/img/kdo-smo-img.png" alt="kdo-smo-img" class="kdo-smo-img" />
            </div>
            <div class="offset-1 col-lg-5 offset-lg-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="kdo-smo-main-txt">Kdo smo?</div>
                    </div>
                </div>
                <div class="kdo-smo-secondary-txt-container">
                    <div class="row">
                        <div class="col-10 col-lg-7">
                            <div class="kdo-smo-secondary-txt">
                                TLS, logistika, skladiščenje in transport, d.o.o. smo podjetje, kjer skupaj s sodelavci in zaupanja vrednimi partnerji zadnjih 30 let gradimo, razvijamo in ustvarjamo na področju mednarodnega transporta. Specializirani smo za prevoz volumenskega blaga
                                z vozili z nosilnostjo od 7.500 kg do 24.000 kg in prostornine do 120 m3.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 col-lg-8">
                            <div class="kdo-smo-secondary-txt">
                                Ukvarjamo se s prevozi po Evropi, predvsem v države AT, SK, PL, CZ, HU, HR, SRB, RO, DE.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 col-lg-8">
                            <div class="kdo-smo-secondary-txt">
                                Naše poslanstvo je strankam zagotavljati varen, zanesljiv in hiter prevoz blaga.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>