<div class="kontaktni-obrazec">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-11 offset-1">
                <div class="kontaktni-obrazec-main-txt">Kontaktni obrazec</div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-1">
                <div class="kontaktni-obrazec-secondary-txt">
                    Če izpolnite obrazec za povpraševanje, vam bomo odgovorili v najkrajšem možnem času.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <form action="javascript:void(0);" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <input type="text" id="ime" name="ime" placeholder="Ime" class="kontaktni-obrazec-input" />
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="text" id="priimek" name="priimek" placeholder="Priimek" class="kontaktni-obrazec-input" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <input type="text" id="email" name="email" placeholder="E-mail" class="kontaktni-obrazec-input" />
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="text" id="telst" name="telst" placeholder="Telefonska št." class="kontaktni-obrazec-input" />
                        </div>
                    </div>
                    <textarea id="sporocilo" name="sporocilo" placeholder="Vaše sporočilo" class="kontaktni-obrazec-input kontaktni-obrazec-textarea"></textarea>
                    <div class="row">
                        <div class="col-12 d-flex align-items-start">
                            <input type="checkbox" class="css-checkbox kontaktni-obrazec-checkbox" id="pogoj" name="pogoj" checked="checked" />
                            <label for="pogoj" class="kontaktni-obrazec-pogoj-txt css-label lite-x-gray">S prijavo se strinjate s pogoji poslovanja in politiko
                zasebnosti.</label
              >
            </div>
          </div>
          <input type="submit" value="Pošljite" class="kontaktni-obrazec-btn" />
        </form>
      </div>
    </div>
  </div>
</div>