<div class="partnerji">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-6 offset-3 col-lg-6 offset-lg-3">
                <div class="partnerji-txt">Naši zvesti partnerji</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-lg-3 partnerji-col partnerji-col-ena">
                        <img src="../assets/img/partnerji-col-ena.png" alt="partnerji-img" class="partnerji-img" />
                    </div>
                    <div class="col-lg-3 partnerji-col partnerji-col-dva">
                        <img src="../assets/img/partnerji-col-dva.png" alt="partnerji-img" class="partnerji-img" />
                    </div>
                    <div class="col-lg-3 partnerji-col partnerji-col-tri">
                        <img src="../assets/img/partnerji-col-tri.png" alt="partnerji-img" class="partnerji-img" />
                    </div>
                    <div class="col-lg-3 partnerji-col partnerji-col-stiri">
                        <img src="../assets/img/partnerji-col-stiri.png" alt="partnerji-img" class="partnerji-img" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="partnerji-slider">
                    <img src="../assets/img/slider-buttons.png" alt="slider-btns" />
                </div>
            </div>
        </div>
    </div>
</div>