<div class="vrednote">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-6 col-lg-3 offset-lg-1">
                <div class="vrednote-main-txt">Naše vrednote</div>
            </div>
            <div class="col-6 col-lg-3 offset-lg-4">
                <div class="vrednote-secondary-txt-container">
                    <ul>
                        <li class="vrednote-secondary-txt">Zanesljivost</li>
                        <li class="vrednote-secondary-txt">Prilagodljivost</li>
                        <li class="vrednote-secondary-txt">Hitrost</li>
                        <li class="vrednote-secondary-txt">Organiziranost</li>
                        <li class="vrednote-secondary-txt">Urejenost</li>
                        <li class="vrednote-secondary-txt">Premišljenost</li>
                        <li class="vrednote-secondary-txt">Umirjenost</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>