/* ---------- variables ---------- */

$white: #FFFFFF;

/* ---------- html elements ---------- */

ul {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}


/* ---------- classes ---------- */

.mednarodni-transport {
    color: $white;
    background-image: url("../../../assets/img/mednarodni-transport-img.png");
    background-position: 50% 0%;
    padding: 150px 0;
    height: 100vh;
    background-attachment: fixed;
}

.mednarodni-transport-txt {
    transition: 0.04s;
}

.mednarodni-transport-main-txt {
    font-size: 72px;
    line-height: 70px;
}

.mednarodni-transport-secondary-txt {
    padding: 20px 0;
    font-size: 40px;
}

.mednarodni-transport-secondary-txt-container {
    padding-top: 140px;
}

@media only screen and (max-width: 900px) {
    .mednarodni-transport {
        padding: 110px 10px;
        background-image: url("../../../assets/img/mednarodni-transport-mobile-img.png");
        background-position: 50% 0%;
    }
    .mednarodni-transport-main-txt {
        font-size: 28px;
        padding-left: 22px;
        line-height: 30px;
    }
    .mednarodni-transport-secondary-txt {
        padding: 10px 0;
        font-size: 20px;
    }
    .mednarodni-transport-secondary-txt-container {
        padding-left: 12px;
        padding-top: 220px;
    }
}